body {
    background-color: antiquewhite;
}

body * {
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 15px;
}

h1 {
    font-size: 45px;
    color: rgb(41, 63, 84);
    font-family: cursive;
    text-align: left;
}

h2 {
    margin-inline-start: 30px;
    font-size: 40px;
}

.main_content > img {
    float: right;
}

h1 img {
    height: 225px;
}

ul {
    border: 3px groove rgb(41, 63, 84);
    border-radius: 15px;
    width: auto;
    margin-inline-start: 30px;
}

li {
    font-size: 30px;
    padding-inline: 0;
    list-style: none;
    margin-block: 15px;
    background-image: url('joint.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    padding-inline-start: 40px;
}

.tree, .tree ul {
    width: fit-content;
    
}

.tree ul {
    border: none;
}
.tree li {
    background-image: none;
}

.tree img {
    height: 100px;
}

.floaty {
    width: 800px;
    /* border: 1px solid black; */
    border-radius: 100px;
    float: right;
}

#catalog::after {
    content: url("https://github.com/RustyZipTie/gyre-source/blob/main/gyre.mp4?raw=true");
    width: 500px;
}


