body {
    background-color: antiquewhite;
}

body * {
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 15px;
}

h1 {
    font-size: 75px;
    line-height: 225px;
    color: rgb(41, 63, 84);
    text-align: left;
}


h2 {
    margin-inline-start: 30px;
    font-size: 40px;
}

.main_content > img {
    float: right;
}

#icon {
    float: left;
    height: 225px;
}

#portrait {
    height: 150px;
    border-radius: 50%;
}

p {
    border: 3px groove rgb(41, 63, 84);
    border-radius: 15px;
    width: auto;
    margin-inline-start: 30px;
    font-size: 30px; 
    padding: 15px;   
    line-height: 40px;
}

ul, p {
    border: 3px groove rgb(41, 63, 84);
    border-radius: 15px;
    width: auto;
    margin-inline-start: 30px;
}

li {
    font-size: 30px;
    padding-inline: 0;
    list-style: none;
    margin-block: 15px;
    background-image: url('https://github.com/RustyZipTie/Gyre/blob/main/source/img/joint.png?raw=true');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    padding-inline-start: 40px;
}

.tree, .tree ul {
    width: fit-content;
    
}

.tree ul {
    border: none;
}
.tree li {
    background-image: none;
}

.tree img {
    height: 100px;
}

.floaty {
    width: 800px;
    /* border: 1px solid black; */
    border-radius: 100px;
    float: right;
}


